body {
    text-align: center;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'VT323', monospace;
    font-size: 18pt;
}

header{
    position: absolute;
    width: 100%;
    top: 3%;
    left: 0;
}

h1{
    margin: 0;
    font-family: 'VT323', monospace;
}

canvas{
    margin-top: 8%;
}

.hide{
    display: none;
}

.game-stats{
    width: 700px;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
}

li{
    list-style: none;
    display: inline-block;
}

.lives{
    width: 20%;
    margin-top: 0;
}

.points{
    width: 60%;
    text-align: center;
    font-size: 1em;
}

.restart{
    width: 20%;
}

.hide{
    display: none;
}

.fa-heart{
    color: rgb(211, 24, 24);
}

#playAgainBtn{
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}